<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111936547-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111936547-2');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 | SanctionsExplorer</title>
    <link rel="icon" href="../static/img/sanctions_explorer_favicon (blue, dark gray, camelcase).png"/>
    <link rel="stylesheet" href="../static/css/lux_bootstrap.min.css"></link>
    <link rel="stylesheet" href="../static/css/style.css"></link>
    <link rel="stylesheet" href="../static/css/404.css"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark unselectable">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img id="product-logo" src="../static/img/sanctions_explorer (blue, white, camelcase).png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/sdn">OFAC Sanctions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/press-releases">OFAC Press Releases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/feedback">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="sticky-header">
            <h1 class="text-center col-header">404: Page Not Found</h1>
            <hr>
        </div>
        <div class="d-flex flex-row mt-5">
            <a href="/feedback" class="ml-auto mr-3">
                <button class="btn btn-outline-primary">Submit Feedback</button>
            </a>
            <a href="/sdn" class="mr-auto">
                <button class="btn btn-primary">Return to SDN Search</button>
            </a>
        </div>
        </p>
    </div>

</body>
</html>
