<html>
<head>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="../static/css/lux_bootstrap.min.css"></link>
	<link rel="stylesheet" href="../static/css/style.css"></link>
	<link rel="stylesheet" href="../static/css/about.css"></link>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="../static/js/doT.min.js" charset="utf-8"></script>
	<script src="../static/js/about.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">OFACasaurus (BETA)</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarColor02">
		    <ul class="navbar-nav mr-auto">
					<li class="nav-item">
		        <a class="nav-link" href="/sdn">SDN</a>
		      </li>
					<li class="nav-item">
		        <a class="nav-link" href="/press-releases">Press Releases</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/about">About</a>
		      </li>
				</ul>
		  </div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="about-row row">
			<div class="col-lg-4 about-left-col">
				<!-- Should we put something here or just keep it for aesthetic? -->
			</div>
			<div class="col-lg-8 about-right-col">
				<h1 class="about-header text-center">About OFACasaurus</h1>
				<hr>
				<p>OFACasaurus reimagines the <a href="https://sanctionssearch.ofac.treas.gov">OFAC SDN List website</a>, a list of individuals, entities, and vehicles that are sanctioned by the Treasury Department.  This list is notoriously difficult to search yet plays a crucial role in foreign investigations.  We've redesigned the experience of searching the database, providing access to all of the same data with a more seamless interface and additional features to streamline the investigative process.</p>

				<p>OFACasaurus was created by <a href="https://archerimpact.com">Archer</a> (a Berkeley-based nonprofit using tech to improve human rights and human security) in collaboration with <a href="https://c4ads.org">C4ADS</a> (a nonprofit data-driven think tank in D.C.).</p>

				<h1 class="about-header text-center">Features</h1>
				<hr>

				<h5 class="text-left">Better search capabilities</h5>
				<p>Unsure how a name transliterates?  Are multiple similar spellings available?  With fuzzy/inexact matching, items that might have previously gone unfound will no longer slip through the cracks.  Additionally, there are more filters available to allow for searching by other categories, so it's easier to find what you're looking for.</p>
				<hr>

				<h5 class="text-left">Press release integration</h5>
				<p>The Treasury <a href="https://www.treasury.gov/resource-center/sanctions/OFAC-Enforcement/Pages/OFAC-Recent-Actions.aspx">releases additional context</a> when they update the list.  These releases are indexed &amp; searchable via the OFACasaurus platform.  These press releases can even be used to search for entities who were on the SDN list at one point but were removed, since their identifying information will have been released in a press release.</p>
				<hr>

				<h5 class="text-left">Transliteration Support</h5>
                <p>OFAC has begun to include non-English names as aliases.  Unfortunately, these are neither searachable nor surfaced in the results on the OFAC website.  For entries that have transliterated names, you can view and search here.</p>
				<hr>

				<h5 class="text-left">Printable reports</h5>
				<p>Regular search queries can be printed -- simply run the print keyboard shortcut (control + P on Windows; command + P on Mac) and all of the cards on your screen will be printed.  Expand the entities of interest and their details will be included in the printout!</p>
				<hr>

				<p>There are plenty of other ways that OFACasaurus stands out from the Treasury's website, including an interface that's modern, updated, and requires fewer clicks to navigate.  If you'd like to see a feature added or report a bug, please email ofacasaurus@archerimpact.com.</p>

				<h1 class="about-header text-center">Frequently Asked Questions</h1>
				<hr class="no-bottom-margin">
				<div class="faq-list">
					<!-- Populated by Javascript -->
				</div>

				<div class="about-footer">
					<p class="text-right">Made by <a href="https://archerimpact.com">Archer</a> in collaboration with <a href="https://c4ads.org">C4ADS</a>.</p>
				</div>

		</div>
	</div>

	<script id="faq-card-template" type="text/template">
		<div class="card">
			<div class="card-header">
				<a data-toggle="collapse" href="#card-body-{{=it.id}}">
					{{=it.question}}
				</a>
			</div>
			<div class="collapse hide" id="card-body-{{=it.id}}">
				<div class="card-body faq-card-body">
					{{=it.answer}}
				</div>
			</div>
		</div>
	</script>
</body>
</html>
