<html>
<head>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="../static/css/lux_bootstrap.min.css"></link>
	<link rel="stylesheet" href="../static/css/style.css"></link>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="../static/js/doT.min.js" charset="utf-8"></script>
	<script src="../static/js/index.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">OFACasaurus</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarColor02">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">About</a>
		      </li>
				</ul>
		  </div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-12 page-col left-col">
				<h3 class="col-header">Advanced Search</h3> <!--<span class="badge badge-primary badge-pill">Beta</span>--></h3>
				<hr>
				<form class="search-form">
					<div class="form-row">
						<div class="form-group col-md-7">
							<label for="name-input">Name</label>
							<input type="text" class="form-control form-control-sm" id="name-input">
						</div>
						<div class="form-group col-md-5">
							<label for="type-select">Designation Type</label>
							<select class="custom-select form-control form-control-sm" id="type-select">
								<option selected="">Any type</option>
								<option value="individual">Individual</option>
								<option value="entity">Entity</option>
								<option value="aircraft">Aircraft</option>
								<option value="vessel">Vessel</option>
							</select>
						</div>
					</div><!-- /form-row -->
					<div class="search-rows">
						<!-- Populated with Javascript -->
					</div>
					<div class="form-group search-button-group">
						<button type="submit" class="btn btn-primary btn-sm search-button">Search</button>
					</div>
				</form>

				<h3 class="col-header" id="press-release-header">Press Releases</h3>
				<hr>
				<form>
					<div class="form-row">
						<div class="form-group col-lg-9 col-md-10">
					    <input type="text" class="form-control form-control-sm" id="feeling-lucky-field" placeholder="Search query">
					    <small id="quicksearch-help" class="form-text text-muted">Search all database fields.</small>
					  </div>
						<div class="col-lg-3 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary btn-sm float-right press-release-button">Search</button>
						</div>
					</div><!-- /form-row -->
				</form>

			</div><!-- /left-col -->

			<div class="col-lg-8 col-md-12 page-col right-col">
				<h3 class="col-header text-center" id="results-header">Results</h3>
				<a><small class="float-right" id="collapse-all"> Collapse</small></a> <a><small class="float-right" id="expand-all"> Expand</small></a>

				<hr id="results-line">
				<div class="loader">Loading...</div>
				<div id="search-results">
					<!-- Populated with Javscript -->
				</div>
			</div><!-- /col-md-8 -->

		</div><!-- /row -->
	</div><!-- /container-fluid -->



	<script id="card-template" type="text/template">
		<div class="card">
			<div class="card-header">
				<a data-toggle="collapse" href="#card-body-{{=it.main.id}}">
					{{=it.main.Name}}
				</a>
				<small class="card-sdn-type">({{=it.main.Type}})</small>

				<div class="float-right" style="margin-left: 10px;">
					{{=it.main.Program}}
				</div>
			</div>
			<div class="collapse show" id="card-body-{{=it.main.id}}">
				<div class="card-body row">
					<div class="col-lg-6 col-md-6">
						<div class="left-card-col">
							{{ for (var c in it.categories) { }}
								{{ for (var prop in it[it.categories[c]]) { }}
										<p>{{=prop}}: {{=it[it.categories[c]][prop]}}</p>
								{{ } }}
							{{ } }}
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
					</div>
				</div>
			</div>
		</div>
	</script>

	<script id="search-row-template" type="text/template">
		<div id="search-row-{{=it.id}}" class="search-row form-row">
			<div class="form-group col-lg-5 col-md-5">
				<select id="search-row-{{=it.id}}-select" class="search-row-select custom-select form-control form-control-sm">
					<option selected="">Select field</option>
					{{ for (var f in it.fields) { }} <!-- for loop over the 'fields' key -->
						<option value="{{=f}}">{{=it.fields[f]}}</option>
					{{ } }}
				</select>
			</div>
			<div class="form-group col-lg-7 col-md-7">
				<input type="text" id="search-row-{{=it.id}}-input" class="form-control form-control-sm">
			</div>
		</div>
	</script>

</body>

</html>
