<html>
<head>
	<!-- Bootstrap Files -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="../static/css/lux_bootstrap.min.css"></link>
	<link rel="stylesheet" href="../static/css/style.css"></link>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="../static/js/doT.min.js" charset="utf-8"></script>
	<script src="../static/js/index.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">OFACasaurus</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent navbarColor02">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">About</a>
		      </li>
				</ul>
				<form class="form-inline">
			    <input class="form-control mr-sm-2" type="search" placeholder="Quick Search" aria-label="Search">
			    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			  </form>
		  </div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 page-col left-col filter-col">
				<h3>I'm Feeling Lucky</h3>
				<br>
				<form>
					<div class="form-row">
						<div class="form-group col-lg-10 col-md-6">
					    <input type="text" class="form-control form-control-sm" id="feeling-lucky-field" placeholder="Search query">
					    <small id="quicksearch-help" class="form-text text-muted">Search all database fields.</small>
					  </div>
						<div class="col-lg-2 col-md-2">
							<button type="submit" class="btn btn-primary btn-sm float-right">Search</button>
						</div>
					</div><!-- /form-row -->
				</form>

				<br>
				<h3>Advanced Search</h3> <!--<span class="badge badge-primary badge-pill">Beta</span>--></h3>
				<form class="search-form">
					<div class="form-row">
						<div class="form-group col-md-7">
							<label for="name-input">Name</label>
							<input type="text" class="form-control form-control-sm" id="name-input">
						</div>
						<div class="form-group col-md-5">
							<label for="type-select">Designation Type</label>
							<select class="custom-select form-control form-control-sm" id="type-select">
								<option selected="">Individual</option>
								<option value="1">Entity</option>
								<option value="2">Aircraft</option>
								<option value="3">Vessel</option>
							</select>
						</div>
					</div><!-- /form-row for name/designation type -->

					<hr>
<!--
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <button class="btn btn-sm btn-outline-dark dropdown-toggle search-select-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
					    <div class="dropdown-menu">
					      <a class="dropdown-item">Action</a>
					      <a class="dropdown-item">Another action</a>
					      <a class="dropdown-item">Something else here</a>
					    </div>
					  </div>
					  <input type="text" class="form-control form-control-sm" aria-label="Text input with dropdown button">
					</div>
-->
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-sm float-right search-button">Search</button>
					</div>

					<br><br><br>
				</form>

			</div><!-- /col -->

			<div class="col-md-8 page-col right-col">
				<h3 class="text-center">Results</h3>
				<br>
			</div><!-- /col-md-8 -->

		</div><!-- /row -->
	</div><!-- /container-fluid -->



	<script id="card-template" type="text/template">
		<div class="card">
			<div class="card-header">
				<a data-toggle="collapse" href="#card-body-{{=it.id}}">
					{{=it.name}}
				</a>
			</div>
			<div class="collapse" id="card-body-{{=it.id}}">
				<div class="card-body">
					<p class="card-text">Location: Pakistan</p>
					<p class="card-text">DOB: 10 Mar 1957</p>
					<p class="card-text">POB: Saudi Arabia</p>
				</div>
			</div>
		</div>
	</script>

	<script id="search-row-template" type="text/template">
		<div id="search-row-{{=it.id}}" class="search-row form-row">
			<div class="form-group col-md-5">
				<select id="search-row-{{=it.id}}-select" class="search-row-select custom-select form-control form-control-sm">
					<option selected="">Select field</option>
					{{~it.fields :value:index}} <!-- for loop over the 'fields' key -->
						<option value="{{=index}}">{{=value}}</option>
					{{~}}
				</select>
			</div>
			<div class="form-group col-md-7">
				<input type="text" id="search-row-{{=it.id}}-input" class="form-control form-control-sm">
			</div>
		</div>
	</script>

</body>

</html>
