<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111936547-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111936547-2');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/lux_bootstrap.min.css"></link>
    <link rel="stylesheet" href="../static/css/style.css"></link>
	<link rel="stylesheet" href="../static/css/onebar.css"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/onebar.js"></script>
</head>

<body>
    <div class="container-fluid vertical-center">
        <div class="cont">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <img src="../static/img/archer_sdn.png" class="inverted img-fluid" id="large-archer-logo" />
                    <h4 class="text-center">Beta</h4>
                </div>
            </div>

            <div>
                <form id="one-search-form">
                    <div class="row" id="one-search-row">
                        <input type="text" class="form-control form-control-md" id="one-search-input" placeholder="Search U.S. Treasury sanctions...">
                    </div>
                </form>
            </div>

            <div class="d-flex justify-content-center">
                <h5>in partnership with</h5>
            </div>
                <div class="d-flex justify-content-center">
                    <img src="../static/img/c4ads_logo.png" class="inverted" id="large-c4ads-logo"/>
                </div>
            </div>
        </div>
    </div><!-- /container-fluid -->

</body>

</html>
