<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111936547-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111936547-2');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/lux_bootstrap.min.css"></link>
    <link rel="stylesheet" href="../static/css/style.css"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/doT.min.js" charset="utf-8"></script>
    <script src="../static/js/search.js"></script>
    <script src="../static/js/sdn.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img id="archer-logo" src="../static/img/archer_sdn.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/sdn">SDN</a>
              </li>
                    <li class="nav-item">
                <a class="nav-link" href="/press-releases">Press Releases</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
                </ul>
          </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12 page-col left-col">
                <h3 class="col-header">SDN Search</h3> <!--<span class="badge badge-primary badge-pill">Beta</span>--></h3>
                <hr>
                <form class="search-form">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="name-input">Name</label>
                            <input type="text" class="form-control form-control-sm" id="name-input">
                        </div>
                        <!-- <div class="col-md-5">
                            <label for="name-input">Fuzziness</label>
                            <input type="text" class="form-control form-control-sm" disabled id="name-input" placeholder="Coming Soon">
                        </div> -->
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <select class="custom-select form-control form-control-sm" id="type-select">
                                <option selected="">All types</option>
                                <option value="Individual">Individual</option>
                                <option value="Entity">Entity</option>
                                <option value="Aircraft">Aircraft</option>
                                <option value="Vessel">Vessel</option>
                            </select>
                        </div>
                        <div class="form-group col-md-7">
                            <select class="custom-select form-control form-control-sm" id="program-select">
                                <option selected="">All programs</option>
                                <option value="561List">561List</option>
                                <option value="BALKANS">BALKANS</option>
                                <option value="BELARUS">BELARUS</option>
                                <option value="BURUNDI">BURUNDI</option>
                                <option value="CAR">CAR</option>
                                <option value="CUBA">CUBA</option>
                                <option value="CYBER2">CYBER2</option>
                                <option value="DARFUR">DARFUR</option>
                                <option value="DPRK">DPRK</option>
                                <option value="DPRK2">DPRK2</option>
                                <option value="DPRK3">DPRK3</option>
                                <option value="DPRK4">DPRK4</option>
                                <option value="DRCONGO">DRCONGO</option>
                                <option value="FSE-SY">FSE-SY</option>
                                <option value="FTO">FTO</option>
                                <option value="GLOMAG">GLOMAG</option>
                                <option value="HRIT-IR">HRIT-IR</option>
                                <option value="HRIT-SY">HRIT-SY</option>
                                <option value="IFSR">IFSR</option>
                                <option value="IRAN">IRAN</option>
                                <option value="IRAN-HR">IRAN-HR</option>
                                <option value="IRAN-TRA">IRAN-TRA</option>
                                <option value="IRAQ2">IRAQ2</option>
                                <option value="IRAQ3">IRAQ3</option>
                                <option value="IRGC">IRGC</option>
                                <option value="ISA">ISA</option>
                                <option value="LEBANON">LEBANON</option>
                                <option value="LIBYA2">LIBYA2</option>
                                <option value="LIBYA3">LIBYA3</option>
                                <option value="MAGNIT">MAGNIT</option>
                                <option value="NPWMD">NPWMD</option>
                                <option value="NSPLC">NSPLC</option>
                                <option value="SDGT">SDGT</option>
                                <option value="SDNT">SDNT</option>
                                <option value="SDNTK">SDNTK</option>
                                <option value="SDT">SDT</option>
                                <option value="SOMALIA">SOMALIA</option>
                                <option value="SOUTH SUDAN">SOUTH SUDAN</option>
                                <option value="SYRIA">SYRIA</option>
                                <option value="TCO">TCO</option>
                                <option value="UKRAINE-E013660">UKRAINE-E013660</option>
                                <option value="UKRAINE-E013661">UKRAINE-E013661</option>
                                <option value="UKRAINE-E013662">UKRAINE-E013662</option>
                                <option value="UKRAINE-E013685">UKRAINE-E013685</option>
                                <option value="VENEZUELA">VENEZUELA</option>
                                <option value="YEMEN">YEMEN</option>
                                <option value="ZIMBABWE">ZIMBABWE</option>
                            </select>
                        </div>
                    </div><!-- /form-row -->

                    <h5 id="more-filters-header">Additional Filters</h5>

                    <div class="search-rows">
                        <!-- Populated by Javascript -->
                    </div>
                    <div class="search-row-error-alert">
                            <!-- Populated by Javascript if error -->
                    </div>
                    <div class="form-group search-button-group">
                        <button type="submit" class="btn btn-primary btn-sm search-button">Search</button>
                    </div>
                </form>

                <div id="footer">
                    <p>Made by <a href="https://archerimpact.com">Archer</a> in collaboration with <a href="https://c4ads.org">C4ADS</a>.</p>
                </div>
            </div><!-- /left-col -->

            <div class="col-lg-8 col-md-12 page-col right-col">
                <h3 class="col-header text-center" id="results-header">Results</h3>
                <!-- <a><small class="float-right" id="collapse-all"> Collapse</small></a> <a><small class="float-right" id="expand-all"> Expand</small></a> -->
                <p class="print-view-filters text-center d-none d-print-block">
                    <!-- Populated by Javascript; only shown for printing -->
                </p>
                <hr class="no-bottom-margin">
                <div class="loader">Loading...</div>
                <div id="search-results">
                    <!-- Populated with Javscript -->
                </div>
                <button class="next-page btn btn-outline-primary btn-md">Next Page</button>
            </div><!-- /col-md-8 -->

        </div><!-- /row -->
    </div><!-- /container-fluid -->



    <script id="card-template" type="text/template">
        <div class="card">
            <div class="card-header">
                <a data-toggle="collapse" href="#card-body-{{=it.identity.id}}">
                    {{=it.primary_display_name}}
                </a>
                <small class="card-sdn-type">
                    ({{=it.party_sub_type}})
                </small>

                <div class="float-right" style="margin-left: 10px;">
                    {{=it.programs.join(' / ')}}
                </div>
            </div>
            <div class="collapse hide" id="card-body-{{=it.identity.id}}">
                <div class="card-body">
                    {{? it.identity.aliases.length > 0}}
                        <h5 class="card-detail-header">Aliases</h5>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th class="muted-table-text">name</th>
                                    <th class="muted-table-text">quality</th>
                                    <th class="muted-table-text">type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ for (var i in it.identity.aliases) { }}
                                    <tr>
                                        <td>{{= it.identity.aliases[i].display_name }}</td>
                                        <td>{{= it.identity.aliases[i].strength }}</td>
                                        <td>{{= it.identity.aliases[i].alias_type }}</td>
                                    </tr>
                                {{ } }}
                            </tbody>
                        </table>
                    {{?}}

                    {{? it.documents.length > 0 }}
                        <h5 class="card-detail-header">Documents</h5>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th class="muted-table-text">#</th>
                                    <th class="muted-table-text">type</th>
                                    <th class="muted-table-text">validity</th>
                                    {{? it.document_headers && it.document_headers.includes('issued_by') }}
                                        <th class="muted-table-text">issued by</th>
                                    {{?}}
                                    {{? it.document_headers && it.document_headers.includes('issued_in') }}
                                        <th class="muted-table-text">issued in</th>
                                    {{?}}
                                    {{? it.document_headers && it.document_headers.includes('issuing_authority') }}
                                        <th class="muted-table-text">authorized by</th>
                                    {{?}}
                                    {{? it.document_headers && it.document_headers.includes('Expiration Date') }}
                                        <th class="muted-table-text">expires on</th>
                                    {{?}}
                                    {{? it.document_headers && it.document_headers.includes('Issue Date') }}
                                        <th class="muted-table-text">issued on</th>
                                    {{?}}
                                </tr>
                            </thead>
                            <tbody>
                                {{ for (var i in it.documents) { }}
                                    <tr>
                                        <td class="doc-number">
                                            {{= it.documents[i].id_number }}
                                        </td>
                                        <td>
                                            {{= it.documents[i].type }}
                                        </td>
                                        <td>
                                            {{= it.documents[i].validity }}
                                        </td>

                                        {{? it.document_headers.includes('issued_by') }}
                                            <td class="doc-info">
                                                {{? it.documents[i].issued_by }}
                                                    {{= it.documents[i].issued_by }}
                                                {{?}}
                                            </td>
                                        {{?}}

                                        {{? it.document_headers.includes('issued_in') }}
                                            <td class="doc-info">
                                                {{? it.documents[i].issued_in }}
                                                    {{= it.documents[i].issued_in }}
                                                {{?}}
                                            </td>
                                        {{?}}

                                        {{? it.document_headers.includes('issuing_authority') }}
                                            <td class="doc-info">
                                                {{? it.documents[i].issuing_authority }}
                                                    {{= it.documents[i].issuing_authority }}
                                                {{?}}
                                            </td>
                                        {{?}}

                                        {{? it.document_headers.includes('Issue Date') }}
                                            <td class="doc-info">
                                                {{? it.documents[i]['Issue Date'] }}
                                                    {{= it.documents[i]['Issue Date'] }}
                                                {{?}}
                                            </td>
                                        {{?}}

                                        {{? it.document_headers.includes('Expiration Date') }}
                                            <td class="doc-info">
                                                {{? it.documents[i]['Expiration Date'] }}
                                                    {{= it.documents[i]['Expiration Date'] }}
                                                {{?}}
                                            </td>
                                        {{?}}
                                    </tr>
                                {{ } }}
                            </tbody>
                        </table>
                    {{?}}

                    {{ for (var feature in it.features) { }}
                        <h5 class="card-detail-header">{{= feature }}</h5>
                        <ul>
                            {{ for (var i = 0; i < it.features[feature].length; i++) { }}

                                {{? it.features[feature][i].details }}
                                    <li>
                                        {{= it.features[feature][i].details }}
                                        {{? it.features[feature][i].reliability != "Unknown" }}
                                            ({{= it.features[feature][i].reliability }})
                                        {{?}}

                                        {{? it.features[feature][i].comment }}
                                            ({{= it.features[feature][i].comment }})
                                        {{?}}
                                    </li>
                                {{?}}

                                {{? it.features[feature][i].date }}
                                    <li>
                                        {{= it.features[feature][i].date }}
                                        {{? it.features[feature][i].reliability != "Unknown" }}
                                            ({{= it.features[feature][i].reliability }})
                                        {{?}}

                                        {{? it.features[feature][i].comment }}
                                            ({{= it.features[feature][i].comment }})
                                        {{?}}
                                    </li>
                                {{?}}

                                {{? it.features[feature][i].location }}
                                    <li>
                                        {{= it.features[feature][i].location['COMBINED'] }}
                                        {{? it.features[feature][i].reliability != "Unknown" }}
                                            ({{= it.features[feature][i].reliability }})
                                        {{?}}

                                        {{? it.features[feature][i].comment }}
                                            ({{= it.features[feature][i].comment }})
                                        {{?}}
                                    </li>
                                {{?}}
                            {{ } }}
                        </ul>
                    {{ } }}

                    {{? it.party_comment }}
                        <h5 class="card-detail-header">OFAC Comment</h5>
                        <p>{{= it.party_comment }}
                    {{?}}

                    {{? it.sanctions_entries[0].entry_events.length > 0 }}
                        <h5 class="card-detail-header">Sanction Events</h5>
                        <ul>
                            {{ for (var i = 0; i < it.sanctions_entries[0].entry_events.length; i++) { }}
                                <li>{{= it.sanctions_entries[0].entry_events[i][0] }}: {{= it.sanctions_entries[0].entry_events[i][1] }}</li>
                            {{ } }}
                        </ul>
                    {{?}}

                    {{? it.linked_profile_ids.length > 0 }}
                        <h5 class="card-detail-header">Linked To</h5>
                        <ul>
                            {{ for (var i = 0; i < it.linked_profiles.length; i++) { }}
                                <li>
                                    <a href="" class="activate-modal real-link" data-toggle="modal" data-target="#placeholderModal">
                                        {{= it.linked_profiles[i].linked_name.display_name }}
                                    </a>
                                </li>
                            {{ } }}
                        </ul>
                    {{?}}

                    {{? it.pr_data && it.pr_data.length > 0 }}
                        <h5 class="card-detail-header">Possible Press Releases</h5>
                        <ul>
                            {{ for (var i = 0; i < it.pr_data.length; i++) { }}
                                <li>
                                    <a href="{{= it.pr_data[i].link }}">
                                        {{= it.pr_data[i].date }}: {{= it.pr_data[i].name }}
                                    </a>
                                </li>
                            {{ } }}
                        </ul>
                    {{?}}

                </div>
            </div>
        </div>
    </script>

    <script id="search-row-template" type="text/template">
        <div id="search-row-{{=it.id}}" class="search-row form-row">
            <div class="form-group col-lg-5 col-md-5">
                <select id="search-row-{{=it.id}}-select" class="search-row-select custom-select form-control form-control-sm">
                    <option selected="">Select field</option>
                    {{ for (var f in it.fields) { }} <!-- for loop over the 'fields' key -->
                        <option value="{{=f}}">{{=it.fields[f]}}</option>
                    {{ } }}
                </select>
            </div>
            <div class="form-group col-lg-7 col-md-7">
                <input type="text" id="search-row-{{=it.id}}-input" class="form-control form-control-sm">
            </div>
        </div>
    </script>

    <!-- placeholder modal -->
    <div class="modal fade" id="placeholderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Coming soon!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>We're working on display information here about the entity you just clicked on.  For now, you can simply search the name, but soon you'll be able to see all the details right here.  If you have any feedback or ideas, remember to submit on the feedback page!</p>
            <p><a href="https://docs.google.com/forms/d/1P0-2SQ_ouXyxdTpXRoZ2zD-E4duEqmr55NJX84ElYIw/" class="real-link" target="_blank">Feedback Form</a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</body>

</html>
