.about-row {
	padding-top: 0;
}

.about-col {
	padding: 2em;
}

.about-footer {
	margin-top: 7em;
}

.about-right-col > .about-header ~ .about-header {
	padding-top: 2em;
}

.about-left-col {
	background-color: #eeeeee;
}

.faq-card-body {
	padding-top: 0;
	padding-bottom: 0;
}

.beta-text {
    color: #4e4e4e;
}
