.inverted {
    filter: invert(100%);
}

#one-search-row {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3em;
    margin-bottom: 2em;
}

#advanced-button {
    margin-left: 2em;
}

#archer-logo {
    margin-top: 3em;
    width: 12em;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.cont {
    width: 100%;
}

body {
    background-image: url('../img/p6.png');
    background-repeat: repeat;
}
