/*********** Page Layout ***********/
html, body {
    margin: 0;
    height: 100%;
    color: #919aa1;        /* Lux default */
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

nav.navbar {
    padding: 1em 1em;
}

.nav-item {
    border-bottom: 3px solid transparent;
}

@media (min-width: 992px) {
    .nav-item.active {
        border-bottom: 3px solid #1d93f6;
    }
}

.nav-link {
    font-size: 1.1em;
}

.nav-item {
    margin: 0.8em 0 0.8em 4em;
}

.bg-dark {
    background: linear-gradient(to right, #282c30, #343a40);
}

/* match Lux navbar */
.btn-primary, .btn-outline-primary:hover {
    background-color: #343a40;
}

.page-col {
    overflow-y: scroll;
    height: 100%;        /* should be overwritten by Javascript */
    padding-top: 0;
    padding-right: 1em;
    padding-left: 1em;
}

img#product-logo {
    width: 13em;
}

img#c4ads-nav-logo {
    width: 5em;
}

.modal-lg {
    margin: auto;
}

.modal-lg .modal-dialog {
    max-width: 1000px;
}

.col-icon {
    width: 1em;
    margin-left: 25px;
    cursor: hand;
    z-index: 1000;
}

.non-sticky-header {
    padding-top: 3rem;
}

.sticky-header {
    padding-top: 3rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
}

/*********** Filter Column ***********/
.left-col {
    background-color: #eeeeee;
}

.left-col .sticky-header {
    background-color: #eeeeee;
}

.search-form {
    margin-top: 1em;
}

.search-button-group {
    text-align: right;
}

/* normally 5px padding, but we need to allow for on:focus highlighting border */
#all-fields-form-group {
    padding-left: 9px;
    padding-right: 9px;
}

#more-filters-header {
    padding-top: 2em;
    padding-bottom: 0.5em;
    padding-left: 5px;    /* match form row below */
}

#program-header {
    margin-top: 0.5em;
    margin-bottom: 0;
}

#program-info {
    margin-left: 0.5em;
}

small#program-description {
    font-size: 90%;
}

.left-flex-col {
    flex: 1 1 auto;
    height: 100%;        /* 100% so the footer is bottom-aligned */
}

.col-header {
    margin-bottom: 0;
}

.flex-column > hr {
    /* fix flex not rendering hr properly */
    margin-left: 0;
    margin-right: 0;
}

#press-release-button {
    width: 100%;
}

/*********** Results Column ***********/
.right-col .sticky-header {
    background-color: #ffffff;
}

#exact-header {
    margin-top: 1em;
}

#fuzzy-header {
    margin-top: 1em;
}

.card-program {
    margin-left: 10px;
}

.results-header {
    display: none;        /* will be displayed by Javascript when necessary */
}

hr.no-bottom-margin {
    margin-bottom: 0;
}

.search-error-alert {
    margin-top: 1em;
}

.right-col {
    padding-bottom: 8em;
}

.next-page {
    display: none;
    margin-top: 2em;
    width: 100%;
}

.filter-box {
    /* border: solid 0px black; */
    margin-left: 15px;
    background-color: #555;
    font-size: .9em;
    margin-top: 5px;        /* not an amazing vertical centering solution but it works? */
    padding-top: .4em;
}

#all-fields-help {
    margin-left: 0.75em;
}

#search-form-divider {
    margin-top: 0;
    margin-bottom: 1em;
}


/*********** Cards ***********/
.card {
    margin-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: transparent;
}

.card-header {
    border: 0;
    background-color: transparent;
}

.left-card-col {
    border-left: 1px solid #bbbbbb;
    padding-left: 1em;
}

.card-body {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 2em;
    margin-left: 1.25rem;     /* match bootstrap */
    border-left: 1px solid #e5e5e5;
}

.card-body-condensed {
    margin-left: 0;
    border-left: 0;
}

small.card-sdn-type {
    font-size: 12px;
    color: #aaaaaa;
    margin-left: 1em;
}

h5.card-detail-header {
    font-size: 14px;
    margin-top: 1em;
    letter-spacing: 2px;
}

li.no-bullet {
    list-style: none;
}

.real-link {
    text-decoration: underline;
    color: inherit;
}

.real-link:focus {
    outline: none;
}

.real-link:hover {
    opacity: 0.9;
}

.link-in-explorer {
    color: #6a86b5;
}

.table-sm td, .table-sm th {
    padding: 0.25em;
    text-transform: none;
}

.table-sm th {
    border-top: 0;
}

table {
    margin-left: 2em;
    font-size: 13px;
}

.muted-table-text {
    color: #cccccc;
}

h6.doc-number {
    text-transform: none;
    letter-spacing: 1px;
}

td.doc-info {
    text-align: start;
}

.inline-info {
    padding-left: 2em;
    color: #919aa1;
    text-transform: none;
    font-size: 14px;
}

/* Mobile (excluding tablets) */
@media (max-width: 767px) {
    /* I don't think phones can download the CSV? */
    #download-icon {
        display: none;
    }

    .sticky-header {
        position: relative;    /* no longer sticky */
    }

    #footer {
        display: none;
    }

    .left-flex-col {
        height: auto;    /* no more footer */
    }

    .page-col {
        height: auto;
    }
}

/* Mobile (including tablets) */
@media (max-width: 768px) {
    .filter-box {
        display: none !important;
    }

    .card-program {
        display: block !important;
        float: none !important;
        margin-left: 0;
    }

    .table {
        margin-left: 0;
    }

    .card-body {
        margin-left: 0;
        border-left: 0;
    }
}

@media (max-width: 992px) {
    .search-button {
        width: 100%;
    }
}

/*********** Print Formatting ***********/
@media print {
    .nav {
        display: none;
    }

    .left-col {
        display: none !important;
    }

    .right-col {
        height: 100%;
        overflow: visible;
        /* allow for 100% width: */
        max-width: 100% !important;
        flex: 0 0 100%;
    }

    .next-page {
        display: none !important;
    }

    .col-icon {
        display: none;
    }
}

li, h1, h2, h3, h4, h5, h6, p, table, .details-group {
    page-break-inside: avoid;
}


/*********** Loading Bar ***********/
.loader {
    display: none;   /* keep hidden */
}
.loader,
.loader:before,
.loader:after {
  background: #000000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #000000;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
